
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>This is a about page</p>

<h3>viewData is = @ViewData["var1"]</h3>
<h3>viewBag is = @ViewBag.var2</h3>
<h3>temData is = @TempData["var3"]</h3>
<h3>session is = @Session["var4"]</h3>

<ul>
    @{
        foreach (string i in (string[])Session["var5"])
        {
            <li>@i</li>
        }
    }
</ul>

