@model IEnumerable<AjaxBeginForm2.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="Loader" style="display: none">
    <img src="~/Images/805.gif" width="60" height="60"/>
</div>
@using (Ajax.BeginForm("Index", "Home",
    new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DivUpdate",
        LoadingElementId = "Loader"
    }))
{
    <label>Search By Name</label>
    <input type="text" name="q"/>
    <input type="submit" value="Search"/>
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div id="DivUpdate">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    No Rows Found!!
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.salary)
                    </td>
                    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
                </tr>
            }
        }

    </table>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>